#back-arrow{
    font-size: 21px;
    border: 1px solid var(--primaryBackColor);
    width: fit-content;
    padding: 0.1rem;
    border-radius: 50%;
    background-color: var(--primaryBackColor);
    text-decoration: none;
    color: white;
}

