#back-arrow{
    font-size: 1.2rem;
    border: 1px solid var(--primaryBackColor);
    width: fit-content;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: var(--primaryBackColor);
    text-decoration: none;
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

