.login-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 0.2rem 0rem 0rem 0rem;
    text-align: center;
    /* background: url("../../assets/images/login/background.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.login-items{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 94%;
    text-align: center;
    align-items: center;
    gap: 0.1rem;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login-image-container{
   width: 60%;
}

#login-image{
    width: 100%;
}

/* ______________________________________ */
/* Media queries */
@media screen and (min-width: 768px) and (min-height: 900px) {
    
    .login-items{
        flex-direction: row;
    }

    #login-image-container{
        width: 100%;
     }

}

@media screen and (min-width: 1280px) and (min-height: 700px) {
    .login-items{
        flex-direction: row;
        width: 60%;
    }

    #login-image-container{
        width: 100%;
     }
}
