.menu-container{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-container ul {
    justify-content: center;
    text-align: center;
    align-items: center;    
    display: flex;
    gap: 1rem;
    margin: 0 0.5rem;
    list-style: none;
}

.navBtn{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--headColor);
    color: var(--headColor);
    cursor: pointer;
    padding: 0.3rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.navBtn:hover{
    background-color: var(--headColor);
    color: white;
}

.icon-btn{
    background-color: transparent;
    border: none;
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    transition: all 0.4s ease-in-out;
}

#search_icon{
    color: var(--headColor);
}

#notifications{
    color: var(--headColor);
}

#user{
    color:var(--headColor);
}


/* ______________________________________ */

/* Media queries */
@media screen and (min-width: 768px) and (min-height: 900px) {
    .navBtn{
        font-size: 1.1rem;
        padding: 0.3rem;
    }

    .icon-btn{
        font-size: 25px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 700px) {
    .navBtn{
        font-size: 1rem;
        padding: 0.3rem;
    }    
    .icon-btn{
        font-size: 25px;
    }
}