.card-container{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    width: 96%;
    border: none;
    border-radius: 7px;
    padding: 0.2rem;
    overflow: hidden;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-contents{
    text-decoration: none;
}

.card-action-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
}

.card-action-items{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 1rem;
}

.action-item{
    padding: 0.4rem;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#post-insights-icon{
    color: var(--primaryBackColor);
    cursor: pointer;
}

#post-edit-icon{
    color: var(--headColor);
    cursor: pointer;
}

#post-delete-icon{
    color: red;
    cursor: pointer;
}

.card-header-container{
    width: inherit;
    display: flex;
    justify-content: flex-start;
}

.card-header-items{
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 0.5rem;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.card-logo-container{
    display: flex;
    width: 25%;
    height: 50%;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    border: none;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-logo-icon{
    width: 98%;
    height: 98%;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 8vh;
}

.card-logo-image{
    display: flex;
    width: inherit;
    border-radius: 7px;
    height: inherit;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-title-container{
    display: flex;
    width: 70%;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    gap: 0.56rem;
    flex-grow: 1;
    font-weight: bold;
    font-family: var(--headFont);
    height: 100%;
    text-transform: uppercase;
    word-wrap: break-word;
}

#card-title{
    width: 100%;
    font-size: 1rem;
    color: var(--headColor);
    word-wrap: break-word;
}

#card-subtitle{
    width: 100%;
    font-size: 1rem;
    color: red;
}

.card-details-container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.card-brief-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    color: var(--headColor);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-brief-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
}

.card-brief-left-item{
    display: flex;
    justify-content: left;
    text-align: center;
    width: 50%;
    gap: 0.2rem;
    align-items: center;
}
.card-brief-right-item{
    display: flex;
    width: 50%;
    justify-content: right;
    text-align: center;
    gap: 0.2rem;
    align-items: center;
}

.brief-icon{
    word-wrap: break-word;
}

.brief-name{
    word-wrap: break-word;
}

.expired-item{
    color:chocolate;
    font-weight: bold;
}


/* ______________________________________ */
/* Media queries */
@media screen and (min-width: 768px) and (min-height: 900px) {
    .card-container{
        width: 50%;
    }

}

@media screen and (min-width: 1280px) and (min-height: 700px) {
    .card-container{
        width: 30%;
    }
}