.card-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-container:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image-container{
    min-height: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 7px;
    align-items: center;
}


.image-element{
    width: inherit;
    min-height: inherit;
    border-radius: 7px;
}

.card-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-header{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: inherit;
    gap: 0.5rem;
}

.card-logo-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    padding: 0.1rem;
    background-color: white;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-company-img{
    width: 80px;
    display: flex;
    height: 80px;
    border-radius: 20%;
}

.card-head-detail{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    word-wrap: break-word;
}

.card-title{
    padding: 0rem 0.2rem 0.2rem 0.5rem;
    text-align: left;
    align-items: center;
    color: var(--headColor);
    font-family: var(--headFont);
    word-wrap: break-word;
    font-weight: bold;
    text-transform: capitalize;
}

#cardName{
    font-size: 1.1rem;
    font-style: italic;
    word-wrap: break-word;
}

#cardOwnerName{
    color: red;
    word-wrap: break-word;
}

.card-info{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.card-info-container{
    display: flex;
    color: var(--headColor);
    gap: 0.2rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    word-wrap: break-word;
}


/* ______________________________________ */

/* Media queries */
@media screen and (min-width: 768px) and (min-height: 900px) {
    .card-container{
        width: 50%;
        flex-direction: row;
    }
    .card-image-container{
        min-height: 12vh;
    }
    .card-info{
        flex-direction: column;
        gap: 0.5rem;
    }
    .card-info-container{
        text-align: left;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) and (min-height: 700px) {
    .card-container{
        width: 40%;
        flex-direction: row;
    }
    .card-content{
        justify-content: center;
        align-items: center;
    }
    .card-image-container{
        min-height: 12vh;
    }
    .card-info{
        align-items: center;
        flex-direction: column;
        gap: 0.4rem;
    }
    .card-info-container{
        text-align: left;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
}