.details-container{
    display: flex;
    flex-grow: 1;
    margin-top: 9vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.user-post-action{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.4rem;
}

.floating-detail-action-btn{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.15rem;
    border-radius: 20%;
    font-weight: bold;
    padding: 0.5rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-family: var(--regularFont);
}

#apply-btn{
    color: white;
    background-color: var(--primaryBackColor);
}

#cancel-apply-btn{
    color: white;
    background-color: var(--secondaryColor);
}
.details-items{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    width: 98%;
    word-wrap: break-word;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.detail-cover-container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.detail-cover{
    width: inherit;
    height: inherit;
}

.detail-company-info-logo{
    position: absolute;
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    margin-top: 7.5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}

.detail-company-logo-container{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.detail-company-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.detail-header-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 0.2rem;
    word-wrap: break-word;
}

.detail-post-name{
    font-size: 1.2rem;
    color: var(--headColor);
    font-family: var(--regularFont);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.2rem;
}

.detail-post-org{
    font-size: 1.1rem;
    color: red;
    text-transform: uppercase;
}

.detail-label-content{
    color: var(--primaryBackColor);
    font-family: var(--headFont);
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 0.4rem;
    text-align: left;
    width: 90%;
}

.detail-brief{
    display: flex;
    width: 90%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    font-size: 1.1rem;
    color: var(--headColor);
    font-family: var(--regularFont);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.detail-brief-card-container{
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
}

.detail-brief-card-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.4rem;
    text-align: center;
    align-items: center;
}   

.left-right-detail-brief-card{
    display: flex;
    justify-content: left;
    text-align: center;
    width: 100%;
    gap: 0.5rem;
    word-wrap: break-word;
    align-items: center;
}

.left-detail-brief-card{
    display: flex;
    justify-content: left;
    text-align: center;
    width: 50%;
    gap: 0.5rem;
    word-wrap: break-word;
    align-items: center;
}
.right-detail-brief-card{
    display: flex;
    width: 50%;
    justify-content: right;
    text-align: center;
    word-wrap: break-word;
    gap: 0.5rem;
    align-items: center;
}

.detail-brief-card-icon{
    word-wrap: break-word;
    display: flex;
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--headColor);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.detail-brief-card-name{
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: var(--headColor);
    font-family: var(--regularFont);
}


/* ______________________________________ */
/* Media queries */
@media screen and (min-width: 768px) and (min-height: 900px) {
    
    .floating-detail-action-btn{
        width: 40%;
    }
    .detail-company-info-logo{
        margin-top: 9.5rem;
    }
}

@media screen and (min-width: 1280px) and (min-height: 700px) {
    .floating-detail-action-btn{
        width: 40%;
    }
    .details-items{
        width: 50%;
    }
}