
.user-menu-container{
    display: flex;
    width: fit-content;
    position: fixed;
    flex-direction: column;
    max-height: 300px;
    z-index: 999;
    border-radius: 4px;
    overflow: auto;
    top: 8%;
    right: 1%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.user-menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: inherit;
}
.logged-user-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    gap: 5px;
    background-color:#eeeedd;
    color: var(--headColor);
    text-transform: uppercase;
    word-wrap: break-word;
} 

#user-menu-list{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;
    gap: 0.2rem;
}

.user-menu-list li{
    cursor: pointer;
    font-size: inherit;
    text-transform: uppercase;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: var(--headColor);
    border-radius: 4px;
    width: inherit;
}

.user-menu-list li:first-child .user-nav-btn{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.user-menu-list li:last-child .user-nav-btn{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.user-nav-btn{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: inherit;
    height: inherit;
    letter-spacing: 2px;
}

.user-nav-btn:hover{
    background-color: pink;
    color: #242526;
}


