.info-container{
    background-color:aliceblue;
    display: flex;
    flex-grow: 1;
    margin-top: 8vh;
    justify-content: flex-start;
    flex-direction: column;
}

.info-cover-container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-cover{
    width: inherit;
    height: inherit;
}

.cover-img{
    width: inherit;
    height: inherit;
}


.info-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
    gap: 1rem;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: relative;
}

.post-title-container{
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 3.5rem;
}

.post-title{
    text-align: center;
    align-items: center;
    color: var(--headColor);
    font-family: var(--headFont);
    word-wrap: break-word;
    font-weight: bold;
}

.post-itemName{
    font-size: 1.3rem;
    font-style: italic;
}

.post-organization{
    font-size: 1rem;
    color:red;
}

.company-info-logo{
    position: absolute;
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    margin-top: -3.5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}

.company-logo-container{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.company-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}