header{
    align-items: center;
    display: flex;
    font-family: var(--headFont);
    font-weight: 700;
    justify-content: space-between;
    margin: 0.2rem 0.8rem;
    min-height: 10vh;
    padding: 0.2rem;
    text-align: center;
}