header{
    align-items: center;
    display: flex;
    font-family: var(--headFont);
    font-weight: 700;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    min-height: 5vh;
    padding: 0.4rem;
    text-align: center;
    background-color: white;
}

.explore-header-container{
    width: 100%;
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    padding: 0.4rem;
    overflow: hidden;
    text-align: center;
    gap: 0.5rem;
}