.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.search-box{
    width: 100%;
    padding: 0.4rem;
    font-size: 1.1rem;
    color: var(--headColor);
    text-decoration: none;
    outline: none;
    border: none;
    background-color:#B2FFFF;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
}