.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.search-box{
    width: 90%;
    padding: 0.3rem;
    font-size: 1.05rem;
    color: var(--headColor);
    text-decoration: none;
    outline: none;
    border: 0.1px solid var(--headColor);
    border-radius: 7px;
    text-align: center;
}